<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <div class="text-4xl font-extrabold tracking-tight">Sales Documents</div>
            <div class="cursor-pointer ml-3 mt-2">
                <button mat-icon-button ngxPrint useExistingCss="true" printSectionId="section-to-print">
                    <mat-icon [svgIcon]="'heroicons_outline:printer'"></mat-icon>
                </button>
            </div>
        </div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                <input [autocomplete]="'off'" [formControl]="searchInputControl" matInput [autocomplete]="'off'"
                    [placeholder]="'Search'">
                <mat-icon matPostfix (click)="documentsAdvancedSearch.toggle()" matTooltip="Advanced Search"
                    class="cursor-pointer">
                    settings
                </mat-icon>
            </mat-form-field>
            <!-- Add product button -->
            <!-- <button class="ml-1 rounded p-0 w-2.5 min-w-min max-w-min" mat-raised-button
                [matMenuTriggerFor]="contextMenu">
                <mat-icon>more_horiz</mat-icon>
            </button> -->
            <button [matMenuTriggerFor]="downloadMenu" class="ml-4" mat-flat-button [color]="'primary'">
                <mat-icon svgIcon="heroicons_outline:menu"></mat-icon>
            </button>
        </div>
    </div>

    <div class="flex flex-auto overflow-hidden">

        <!-- Products list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="reportType === 1 && (documents$ | async) as documentsObs">
                <ng-container *ngIf="documents.length > 0; else noDocuments">
                    <div class="grid" id="section-to-print">
                        <!-- Header -->
                        <div class="sales-documents-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            #sort="matSort" matSort matSortDisableClear>
                            <div [mat-sort-header]="'orderCode'">
                                Order Number
                            </div>
                            <div [mat-sort-header]="'customerNameFamily'">Customer</div>
                            <div [mat-sort-header]="'regLocalDate'">Register Date</div>
                            <div class="hidden lg:block print:block" [mat-sort-header]="'rowQuantity'">
                                Rows
                            </div>
                            <div class="hidden lg:block print:block" [mat-sort-header]="'productQuantity'">
                                Products
                            </div>
                            <div class="hidden lg:block print:block" [mat-sort-header]="'total'">
                                Total
                            </div>
                            <div class="hidden lg:block print:block" [mat-sort-header]="'status'">
                                Status
                            </div>
                            <div class="print:hidden">More</div>
                        </div>
                        <!-- Rows -->
                        <ng-container *ngIf="(documents$ | async) as documentsa">
                            <ng-container *ngFor="let document of documentsa; trackBy: trackByFn">
                                <div class="sales-documents-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                                    <!-- SKU -->
                                    <div class="truncate">
                                        {{document.orderCode}}
                                        <div>
                                            <div style="background-color: rgb(245 245 245)!important;"
                                                class="bg-neutral-400 text-xs rounded-sm py-0.5 px-2 inline-block"
                                                matTooltip="Remittance Code">
                                                <div class="rounded-3xl w-2 h-2 mr-2 inline-block bg-green-500"></div>
                                                <div class="inline-block">{{document.remittanceCode}}</div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Name -->
                                    <div class="truncate">
                                        {{document.customerNameFamily}}
                                        <div>
                                            <div matTooltip="Type" style="background-color: rgb(245 245 245)!important;"
                                                class="ml-0.5 bg-neutral-400 text-xs rounded-sm py-0.5 px-2 inline-block">
                                                <div class="rounded-3xl w-2 h-2 mr-2 inline-block bg-green-500"></div>
                                                <div class="inline-block">{{document.orderTypeName}}</div>
                                            </div>
                                            <div matTooltip="Type" style="background-color: rgb(245 245 245)!important;"
                                                class="ml-0.5 bg-neutral-400 text-xs rounded-sm py-0.5 px-2 inline-block">
                                                <div class="rounded-3xl w-2 h-2 mr-2 inline-block bg-green-500"></div>
                                                <div class="inline-block">{{document.customerTypeName}}</div>
                                            </div>
                                            <div matTooltip="Warehouse"
                                                style="background-color: rgb(245 245 245)!important;"
                                                class="ml-0.5 bg-neutral-400 text-xs rounded-sm py-0.5 px-2 inline-block">
                                                <div class="rounded-3xl w-2 h-2 mr-2 inline-block bg-green-500"></div>
                                                <div class="inline-block">{{document.warehouseName}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="truncate">
                                        {{document.regLocalDate}}
                                    </div>
                                    <!-- Stock -->
                                    <div class="hidden lg:flex items-center print:block">
                                        {{document.rowQuantity}}
                                    </div>

                                    <div class="hidden lg:flex items-center print:block">
                                        {{document.productQuantity}}
                                    </div>

                                    <div class="hidden lg:flex items-center print:block">
                                        {{document.total|number:'1.0-5'}}
                                    </div>

                                    <div class="hidden lg:block print:block">
                                        <p style="width: fit-content;" class="p-1 rounded block truncate text-white"
                                            [ngClass]="document.statusColour">{{document.statusDesc}}</p>

                                    </div>

                                    <div class="print:hidden">
                                        <div class="flex items-center">
                                            <ng-container>
                                                <button mat-icon-button class="info" [color]="'primary'"
                                                    (click)="$event.stopPropagation(); selectedInfoRow = document"
                                                    [matMenuTriggerFor]="infoMenu">
                                                    <mat-icon class="icon-size-5">info</mat-icon>
                                                </button>
                                            </ng-container>
                                            <ng-container fxLayout="row">
                                                <button mat-icon-button
                                                    (click)="$event.stopPropagation(); setLocalStorageValues(document)"
                                                    [matMenuTriggerFor]="contextMenu">
                                                    <mat-icon color="accent">more_vert</mat-icon>
                                                </button>
                                            </ng-container>

                                        </div>
                                    </div>


                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <mat-paginator #paginator (page)="handlePageEvent($event)"
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}" [length]="pagination.length"
                        [pageIndex]="pagination.pageIndex" [pageSize]="pagination.pageSize"
                        [pageSizeOptions]="[50, 100,200,300,400]" [showFirstLastButtons]="true">
                    </mat-paginator>

                </ng-container>
            </ng-container>
            <ng-container *ngIf="reportType === 2 && (documentsDetails$ | async) as documentsDetailObs">
                <ng-container *ngIf="documentsDetails.length > 0; else noDocuments">
                    <div class="grid" id="section-to-print">
                        <!-- Header -->
                        <div class="sales-documents-detail-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            #sortDetail="matSort" matSort matSortDisableClear>
                            <div [mat-sort-header]="'orderCode'">
                                Order Number
                            </div>
                            <div [mat-sort-header]="'customerNameFamily'">Customer</div>
                            <div class="hidden lg:block print:block" [mat-sort-header]="'productName'">
                                Products
                            </div>
                            <div class="hidden lg:block print:block" [mat-sort-header]="'total'">
                                Price
                            </div>
                            <div class="hidden lg:block print:block" [mat-sort-header]="'status'">
                                Status
                            </div>
                            <div class="print:hidden">More</div>
                        </div>
                        <!-- Rows -->
                        <ng-container *ngIf="(documentsDetails$ | async) as documentsDetails">
                            <ng-container *ngFor="let document of documentsDetails; trackBy: trackByFn">
                                <div
                                    class="sales-documents-detail-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                                    <!-- SKU -->
                                    <div class="truncate">
                                        {{document.orderCode}}
                                        <div>
                                            <div style="background-color: rgb(245 245 245)!important;"
                                                class="bg-neutral-400 text-xs rounded-sm py-0.5 px-2 inline-block"
                                                matTooltip="Remittance Code">
                                                <div class="rounded-3xl w-2 h-2 mr-2 inline-block bg-green-500"></div>
                                                <div class="inline-block">{{document.remittanceCode}}</div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Name -->
                                    <div class="truncate">
                                        {{document.customerNameFamily}}
                                        <div>
                                            <div matTooltip="Type" style="background-color: rgb(245 245 245)!important;"
                                                class="ml-0.5 bg-neutral-400 text-xs rounded-sm py-0.5 px-2 inline-block">
                                                <div class="rounded-3xl w-2 h-2 mr-2 inline-block bg-green-500"></div>
                                                <div class="inline-block">{{document.orderTypeName}}</div>
                                            </div>
                                            <div matTooltip="Type" style="background-color: rgb(245 245 245)!important;"
                                                class="ml-0.5 bg-neutral-400 text-xs rounded-sm py-0.5 px-2 inline-block">
                                                <div class="rounded-3xl w-2 h-2 mr-2 inline-block bg-green-500"></div>
                                                <div class="inline-block">{{document.customerTypeName}}</div>
                                            </div>
                                            <div matTooltip="Warehouse"
                                                style="background-color: rgb(245 245 245)!important;"
                                                class="ml-0.5 bg-neutral-400 text-xs rounded-sm py-0.5 px-2 inline-block">
                                                <div class="rounded-3xl w-2 h-2 mr-2 inline-block bg-green-500"></div>
                                                <div class="inline-block">{{document.warehouseName}}</div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="hidden lg:flex flex-col  print:block">
                                        {{document.productName}}-{{document.productCode}}
                                        <div>
                                            <div matTooltip="Code" style="background-color: rgb(245 245 245)!important;"
                                                class="bg-neutral-400 text-xs rounded-sm py-0.5 px-2 inline-block">
                                                <div class="rounded-3xl w-2 h-2 mr-2 inline-block bg-green-600"></div>
                                                <div class="inline-block">{{document.brandName}}</div>
                                            </div>
                                            <div matTooltip="Frame Cover"
                                                style="background-color: rgb(245 245 245)!important;"
                                                class="ml-0.5 bg-neutral-400 text-xs rounded-sm py-0.5 px-2 inline-block">
                                                <div class="rounded-3xl w-2 h-2 mr-2 inline-block bg-green-600"></div>
                                                <div class="inline-block">{{document.frameCoverName}}</div>
                                            </div>
                                            <div matTooltip="Panel Cover"
                                                style="background-color: rgb(245 245 245)!important;"
                                                class="ml-0.5 bg-neutral-400 text-xs rounded-sm py-0.5 px-2 inline-block">
                                                <div class="rounded-3xl w-2 h-2 mr-2 inline-block bg-green-600"></div>
                                                <div class="inline-block">{{document.panelCoverName}}</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hidden lg:flex items-center print:block">
                                        <div class="flex flex-col">
                                            <div matTooltip="QTY"
                                                class="bg-neutral-400 text-xs rounded-sm py-0.5 px-2 inline-block">
                                                <div class="rounded-3xl w-2 h-2 mr-2 inline-block bg-blue-500"></div>
                                                <div class="inline-block">{{document.quantity}}</div>
                                            </div>
                                            <div matTooltip="Price"
                                                class="ml-0.5 bg-neutral-400 text-xs rounded-sm py-0.5 px-2 inline-block">
                                                <div class="rounded-3xl w-2 h-2 mr-2 inline-block bg-red-500"></div>
                                                <div class="inline-block">
                                                    {{document.price|number:'1.0-5'}}</div>
                                            </div>
                                            <div matTooltip="Total"
                                                class="ml-0.5 bg-neutral-400 text-xs rounded-sm py-0.5 px-2 inline-block">
                                                <div class="rounded-3xl w-2 h-2 mr-2 inline-block bg-green-500"></div>
                                                <div class="inline-block">
                                                    {{document.total|number:'1.0-5'}}</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hidden lg:block print:block">
                                        <p style="width: fit-content;" class="p-1 rounded block truncate text-white"
                                            [ngClass]="document.statusColour">{{document.statusDesc}}</p>

                                    </div>

                                    <div class="print:hidden">
                                        <div class="flex items-center">
                                            <ng-container>
                                                <button mat-icon-button class="info" [color]="'primary'"
                                                    (click)="$event.stopPropagation(); selectedInfoRow = document"
                                                    [matMenuTriggerFor]="infoMenu">
                                                    <mat-icon class="icon-size-5">info</mat-icon>
                                                </button>
                                            </ng-container>
                                            <ng-container fxLayout="row">
                                                <button mat-icon-button
                                                    (click)="$event.stopPropagation(); setSelectedCustomerId(document.customerId)"
                                                    [matMenuTriggerFor]="contextMenu">
                                                    <mat-icon color="accent">more_vert</mat-icon>
                                                </button>
                                            </ng-container>

                                        </div>
                                    </div>


                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <mat-paginator #paginatorDetail (page)="handlePageEvent($event)"
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}" [length]="pagination.length"
                        [pageIndex]="pagination.pageIndex" [pageSize]="pagination.pageSize"
                        [pageSizeOptions]="[50, 100,200,300,400]" [showFirstLastButtons]="true">
                    </mat-paginator>

                </ng-container>
            </ng-container>

        </div>
    </div>
    <ng-template #noDocuments>
        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no documents!
        </div>
    </ng-template>

</div>
<mat-menu #infoMenu="matMenu" xPosition="before">
    <div class="p-2">
        <h4 class="mb-1 text-gray-900 font-bold text-xl	">{{selectedInfoRow.orderCode}}</h4>
        <div class="flex flex-col mb-1">
            <span class="text-gray-400 text-sm">Creator User Name</span>
            <p>{{selectedInfoRow.registerUserName}}</p>
        </div>
        <div class="flex flex-col mb-1">
            <span class="text-gray-400 text-sm">Creator IP</span>
            <p class="text-gray-900">{{selectedInfoRow.clientIP}}</p>
        </div>
        <div class="flex flex-col mb-1">
            <span class="text-gray-400 text-sm">Update Date & time</span>
            <p class="text-gray-900">{{selectedInfoRow.localChangeDate + ' ' + selectedInfoRow.localChangeTime}}</p>
        </div>
    </div>

</mat-menu>

<mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent>
        <button mat-menu-item [routerLink]="['./details']">View
        </button>
        <button mat-menu-item [routerLink]="['./payment']">Set Payment
        </button>
    </ng-template>
</mat-menu>
<mat-menu #downloadMenu="matMenu">
    <ng-template matMenuContent>
        <button mat-menu-item (click)="download()">
            <mat-icon svgIcon="mat_outline:file_download"></mat-icon>
            PDF
        </button>
        <button mat-menu-item [matMenuTriggerFor]="exelExport">
            <mat-icon svgIcon="mat_outline:file_download"></mat-icon>
            EXCEL
        </button>
    </ng-template>
</mat-menu>
<mat-menu #exelExport="matMenu">
    <ng-template matMenuContent>
        <button mat-menu-item (click)="exportCurrentTable('full')">
            <mat-icon svgIcon="mat_outline:file_download"></mat-icon>
            Current Page
        </button>
        <button mat-menu-item (click)="exportAllTable('full')">
            <mat-icon svgIcon="mat_outline:file_download"></mat-icon>
            All Pages
        </button>
    </ng-template>
</mat-menu>

<fuse-drawer class="w-screen min-w-screen sm:w-80 sm:min-w-80" fixed transparentOverlay [mode]="'over'"
    [name]="'documentsAdvancedSearch'" [position]="'left'" #documentsAdvancedSearch>
    <div class="flex flex-col w-full" fuseScrollbar>
        <div class="bg-gray-900 relative h-14 max-h-14 z-10 w-full">
            <div class="inset-y-0 left-0 flex w-1/2">
                <mat-icon class="mt-4 ml-1 text-white flex-auto" matPrefix [svgIcon]="'heroicons_outline:search'">
                </mat-icon>

                <h3 class="ml-2 mt-4 text-white flex-auto "><span>Advanced
                        Search</span></h3>
            </div>
            <div class="inline-block">
                <mat-icon class="mt-3 mr-2 absolute inset-y-0 right-0 cursor-pointer text-white"
                    (click)="documentsAdvancedSearch.toggle()">close
                </mat-icon>
            </div>
        </div>
        <form [formGroup]="frmAdvancedSearch">
            <div class="pt-8 px-4 pb-4">
                <div
                    class="border border-solid border-gray-200 rounded-sm flex flex-initial flex-col relative mb-5 pt-4 px-4 pb-3">
                    <h2 class="absolute -top-2.5 left-1.5 m-0 px-2 bg-white">Search Fields</h2>
                    <div>
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Report Type</mat-label>
                            <mat-select placeholder="Report Type" formControlName="reportType">
                                <mat-option (onSelectionChange)="changeReportType($event)" [value]="1">Accumulative
                                </mat-option>
                                <mat-option (onSelectionChange)="changeReportType($event)" [value]="2">Detail
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Order Type</mat-label>
                            <mat-select placeholder="Order Type" formControlName="orderType">
                                <mat-option [value]="0">All
                                </mat-option>
                                <mat-option [value]="1000531">Generic
                                </mat-option>
                                <mat-option [value]="1000532">Specific
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Status</mat-label>
                            <mat-select [(value)]="documentInfo.statusIdList" placeholder="Status"
                                formControlName="status" multiple>
                                <mat-option (onSelectionChange)="setStatusValue($event)" *ngFor="let status of statuses"
                                    [value]="status.statusId" [checked]="status.isDefault===1">
                                    {{status.statusDescription}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Brand</mat-label>
                            <mat-select #selectBrand placeholder="Brand" formControlName="brand" multiple>
                                <div class="my-3 mx-4">
                                    <mat-checkbox [(ngModel)]="allBrandsSelected" [ngModelOptions]="{standalone: true}"
                                        (change)="changeAllBrands()">Select All
                                    </mat-checkbox>
                                </div>
                                <mat-option (onSelectionChange)="setBrand($event)" *ngFor="let brand of brands"
                                    [value]="brand.key">
                                    {{brand.value}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Product Type</mat-label>
                            <mat-select [(value)]="documentInfo.productTypeIdList" placeholder="Status"
                                formControlName="productType" multiple>
                                <mat-option *ngFor="let item of productTypes" [value]="item.key">
                                    {{item.value}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label>Product Code(%)</mat-label>
                            <input [autocomplete]="'off'" matInput value="" formControlName="productCode"
                                maxlength="40">
                            <mat-icon matSuffix class="secondary-text">assignment</mat-icon>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label>Product Name(%)</mat-label>
                            <input [autocomplete]="'off'" matInput value="" formControlName="productName"
                                maxlength="500">
                            <mat-icon matSuffix class="secondary-text">assignment</mat-icon>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Frame Cover</mat-label>
                            <mat-select #selectFrameCover placeholder="Frame Cover" formControlName="frameCover"
                                multiple>
                                <div class="my-3 mx-4">
                                    <mat-checkbox [(ngModel)]="allFrameCoversSelected"
                                        [ngModelOptions]="{standalone: true}" (change)="changeAllCovers('frame')">Select
                                        All
                                    </mat-checkbox>
                                </div>
                                <mat-option (onSelectionChange)="setCover($event,'frame')"
                                    *ngFor="let cover of frameCovers" [value]="cover.coverId">
                                    {{cover.coverName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Panel Cover</mat-label>
                            <mat-select #selectPanelCover placeholder="Panel Cover" formControlName="panelCover"
                                multiple>
                                <div class="my-3 mx-4">
                                    <mat-checkbox [(ngModel)]="allPanelCoversSelected"
                                        [ngModelOptions]="{standalone: true}" (change)="changeAllCovers('panel')">Select
                                        All
                                    </mat-checkbox>
                                </div>
                                <mat-option (onSelectionChange)="setCover($event,'panel')"
                                    *ngFor="let cover of panelCovers" [value]="cover.coverId">
                                    {{cover.coverName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label>Remittance(%)</mat-label>
                            <input [autocomplete]="'off'" matInput value="" formControlName="remittanceCode"
                                maxlength="20">
                            <mat-icon matSuffix class="secondary-text">assignment</mat-icon>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label>Order(%)</mat-label>
                            <input [autocomplete]="'off'" matInput value="" formControlName="orderCode" maxlength="20">
                            <mat-icon matSuffix class="secondary-text">assignment</mat-icon>
                        </mat-form-field>

                    </div>
                    <div>
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Customer Type</mat-label>
                            <mat-select [(value)]="documentInfo.customerTypeIdList" placeholder="Status"
                                formControlName="customerType" multiple>
                                <mat-option *ngFor="let item of customerTypes" [value]="item.key">
                                    {{item.value}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label>Customer(%)</mat-label>
                            <input [autocomplete]="'off'" matInput value="" formControlName="customerNameFamily"
                                maxlength="500">
                            <mat-icon matSuffix class="secondary-text">assignment</mat-icon>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label>Register Date From</mat-label>
                            <input [autocomplete]="'off'" matInput value="" formControlName="regDateFrom"
                                maxlength="500">
                            <mat-icon matSuffix class="secondary-text">assignment</mat-icon>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full" appearance="outline">
                            <mat-label>Register Date To</mat-label>
                            <input [autocomplete]="'off'" matInput value="" formControlName="regDateTo" maxlength="500">
                            <mat-icon matSuffix class="secondary-text">assignment</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-row w-full">
                    <div class="py-2 w-1/2 pl-10 items-center align-middle">
                        <button mat-raised-button color="primary" (click)="documentsSearch()">Apply
                        </button>
                    </div>
                    <div class="py-2 w-1/2 items-center align-middle">
                        <button (click)="resetAdvancedSearch()" mat-raised-button color="accent">Cancel
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</fuse-drawer>
