/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

.snackbar-success.mat-snack-bar-container {
    background-color: #2e7d32;
    color: #fff;
}

.snackbar-error.mat-snack-bar-container {
    background-color: #c62828;
    color: #fff;
}
