<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent" (backdropClick)="onBackdropClicked()">

        <!-- Drawer -->
        <mat-drawer class="w-full md:w-160 dark:bg-gray-900" [mode]="drawerMode" [opened]="false" [position]="'end'"
            [disableClose]="true" #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col overflow-hidden">

            <!-- Main -->
            <div
                class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">


                <!-- Header -->
                <div
                    class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-b">
                    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                    </div>
                    <!-- Title -->
                    <div>

                        <div class="text-4xl font-extrabold tracking-tight leading-none">Pricing</div>


                    </div>

                    <!-- Main actions -->
                    <div class="flex items-center">
                        <!-- Search -->
                        <div class="flex-auto">
                            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full min-w-50">
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                <input #filter matInput [formControl]="searchInputControl" [autocomplete]="'off'"
                                    [placeholder]="'Search'">
                                <mat-icon matPostfix (click)="advancedSearch.toggle()" matTooltip="Advanced Search"
                                    class="cursor-pointer">
                                    settings
                                </mat-icon>
                            </mat-form-field>
                        </div>
                        <!-- Add Price button -->
                        <button [matMenuTriggerFor]="actionMenu" class="ml-4" mat-flat-button [color]="'primary'">
                            <mat-icon svgIcon="heroicons_outline:menu"></mat-icon>
                        </button>

                    </div>
                </div>
                <!-- Prices list -->

                <div class="flex flex-auto overflow-hidden">
                    <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                        <ng-container *ngIf="prices$ | async as prices">
                            <div class="grid">
                                <div name="priceGrid"
                                    class="z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                    matSort matSortDisableClear>
                                    <div *ngIf="priceGrid.brandName?.show.list" [mat-sort-header]="'brandName'">
                                        Brand
                                    </div>
                                    <div *ngIf="priceGrid.productCode?.show.list" [mat-sort-header]="'productCode'">
                                        Code
                                    </div>
                                    <div *ngIf="priceGrid.productName?.show.list" class="hidden lg:block"
                                        [mat-sort-header]="'productName'">
                                        Product
                                    </div>
                                    <div *ngIf="priceGrid.productTypeName?.show.list" class="hidden lg:block"
                                        [mat-sort-header]="'productTypeName'">
                                        Type
                                    </div>
                                    <div *ngIf="priceGrid.price?.show.list" style="direction: rtl;"
                                        class="pr-8 grid justify-items-start print:block" [mat-sort-header]="'price'">
                                        Price
                                    </div>
                                    <div *ngIf="priceGrid.primeCost?.show.list" style="direction: rtl;"
                                        class="pr-8 grid justify-items-start print:block"
                                        [mat-sort-header]="'primeCost'">
                                        Prime Cost
                                    </div>
                                    <div *ngIf="priceGrid.effDateTime?.show.list" class="hidden lg:block"
                                        [mat-sort-header]="'effDateTime'">
                                        Effective Date
                                    </div>

                                </div>
                                <div *ngFor="let item of prices; let i = index; trackBy: trackByFn">
                                    <div name="priceGrid" class="grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                        <!-- SKU -->
                                        <div *ngIf="priceGrid.brandName?.show.list" class="truncate">
                                            {{item.brandName}}
                                        </div>
                                        <div *ngIf="priceGrid.productCode?.show.list" class="truncate">
                                            {{item.productCode}}
                                        </div>
                                        <div *ngIf="priceGrid.productName?.show.list" class="truncate hidden lg:block">
                                            {{ item.productName }}
                                        </div>
                                        <div *ngIf="priceGrid.productTypeName?.show.list"
                                            class="truncate hidden lg:block">
                                            {{ item.productTypeName }}
                                        </div>
                                        <div *ngIf="priceGrid.price?.show.list" class="pr-8 text-right print:block">
                                            {{ item.price | number: "1.0-5" }}
                                        </div>
                                        <div *ngIf="priceGrid.primeCost?.show.list" class="pr-8 text-right print:block">
                                            {{ item.primeCost | number: "1.0-5" }}
                                        </div>
                                        <div *ngIf="priceGrid.effDateTime?.show.list" class="truncate hidden lg:block">
                                            {{ item.effLocalDate }}-{{item.effLocalTime}}
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </ng-container>

                        <!-- No prices -->
                        <ng-template #noPrices>
                            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There
                                are no
                                prices!</div>
                        </ng-template>

                    </div>
                </div>
                <mat-paginator
                    class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                    [ngClass]="{'pointer-events-none': isLoading}" [length]="pricingInfo.page.length"
                    [disabled]="isLoading" [pageIndex]="pricingInfo.page.pageNumber"
                    [pageSize]="pricingInfo.page.pageSize" [pageSizeOptions]="[5, 10, 25, 100,400,1000,2000]"
                    [showFirstLastButtons]="true"></mat-paginator>
            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>
<mat-menu #actionMenu="matMenu">
    <ng-template matMenuContent>
        <button mat-menu-item (click)="openUploadDialog()">
            <mat-icon svgIcon="mat_outline:file_upload"></mat-icon>
            Upload New List
        </button>
        <button mat-menu-item (click)="download()">
            <mat-icon svgIcon="mat_outline:file_download"></mat-icon>
            PDF
        </button>
        <button mat-menu-item (click)="exportTable()">
            <mat-icon svgIcon="mat_outline:file_download"></mat-icon>
            EXCEL
        </button>
    </ng-template>
</mat-menu>

<fuse-drawer class="w-screen min-w-screen sm:w-80 sm:min-w-80" fixed transparentOverlay [mode]="'over'"
    [name]="'advancedSearch'" [position]="'left'" #advancedSearch>
    <div class="flex flex-col w-full overflow-x-hidden" fuseScrollbar>
        <div class="bg-gray-900 relative h-14 max-h-14 z-10 w-full">
            <div class="inset-y-0 left-0 flex w-1/2">
                <mat-icon class="mt-4 ml-1 text-white flex-auto" matPrefix [svgIcon]="'heroicons_outline:search'">
                </mat-icon>

                <h3 class="ml-2 mt-4 text-white flex-auto "><span>Advanced
                        Search</span></h3>
            </div>
            <div class="inline-block">
                <mat-icon class="mt-3 mr-2 absolute inset-y-0 right-0 cursor-pointer text-white"
                    (click)="advancedSearch.toggle()">close
                </mat-icon>
            </div>
        </div>
        <form *ngIf='showAdvancedSearch' [formGroup]="frmAdvancedSearch">
            <div class="pt-8 px-4 pb-4">
                <div
                    class="border border-solid border-gray-200 rounded-sm flex flex-initial flex-col relative mb-10 pt-4 px-4 pb-3">
                    <h2 class="absolute -top-2.5 left-1.5 m-0 px-2 bg-white">Search Fields</h2>
                    <div *ngIf="priceGrid.brandName.show.advancedSearch">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Brand</mat-label>
                            <mat-select [(value)]="pricingInfo.brandIdList" placeholder="Brand" formControlName="brand"
                                multiple>
                                <mat-option (onSelectionChange)="setBrandValue($event)" *ngFor="let brand of brands"
                                    [value]="brand.key">
                                    {{brand.value}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="priceGrid.productTypeName.show.advancedSearch">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Product Type</mat-label>
                            <mat-select placeholder="Product Type" formControlName="type">
                                <mat-option [value]="0">
                                    All</mat-option>
                                <mat-option [value]="1000741">
                                    Door</mat-option>
                                <mat-option [value]="1000742">
                                    Spare Parts</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="priceGrid.productCode.show.advancedSearch">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Code%</mat-label>
                            <input spellcheck="false" [autocomplete]="'off'" matInput value="" formControlName="code"
                                maxlength="50">
                            <mat-icon matSuffix class="secondary-text" svgIcon="mat_outline:drive_file_rename_outline">
                            </mat-icon>
                        </mat-form-field>
                    </div>


                    <div *ngIf="priceGrid.productName.show.advancedSearch">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Name%</mat-label>
                            <input spellcheck="false" [autocomplete]="'off'" matInput value="" formControlName="name"
                                maxlength="50">
                            <mat-icon matSuffix class="secondary-text" svgIcon="mat_outline:drive_file_rename_outline">
                            </mat-icon>
                        </mat-form-field>
                    </div>


                    <div *ngIf="priceGrid.price.show.advancedSearch">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Price From</mat-label>
                            <input [autocomplete]="'off'" matInput value="" formControlName="priceFrom" maxlength="50">
                            <mat-icon matSuffix class="secondary-text" svgIcon="mat_outline:drive_file_rename_outline">
                            </mat-icon>
                        </mat-form-field>
                    </div>
                    <div *ngIf="priceGrid.price.show.advancedSearch">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Price To</mat-label>
                            <input [autocomplete]="'off'" matInput value="" formControlName="priceTo" maxlength="50">
                            <mat-icon matSuffix class="secondary-text" svgIcon="mat_outline:dialpad">
                            </mat-icon>
                        </mat-form-field>
                    </div>
                    <div *ngIf="priceGrid.primeCost.show.advancedSearch">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Prime Cost From</mat-label>
                            <input [autocomplete]="'off'" matInput value="" formControlName="primeCostFrom"
                                maxlength="50">
                            <mat-icon matSuffix class="secondary-text" svgIcon="mat_outline:drive_file_rename_outline">
                            </mat-icon>
                        </mat-form-field>
                    </div>
                    <div *ngIf="priceGrid.primeCost.show.advancedSearch">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Prime Cost To</mat-label>
                            <input [autocomplete]="'off'" matInput value="" formControlName="primeCostTo"
                                maxlength="50">
                            <mat-icon matSuffix class="secondary-text" svgIcon="mat_outline:dialpad">
                            </mat-icon>
                        </mat-form-field>
                    </div>
                    <div *ngIf="priceGrid.effDateTime.show.advancedSearch">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Effective Date From</mat-label>
                            <input [autocomplete]="'off'" matInput value="" formControlName="effDateFrom"
                                maxlength="50">
                            <mat-icon matSuffix class="secondary-text" svgIcon="mat_outline:drive_file_rename_outline">
                            </mat-icon>
                        </mat-form-field>
                    </div>
                    <div *ngIf="priceGrid.effDateTime.show.advancedSearch">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Effective Date To</mat-label>
                            <input [autocomplete]="'off'" matInput value="" formControlName="effDateTo" maxlength="50">
                            <mat-icon matSuffix class="secondary-text" svgIcon="mat_outline:drive_file_rename_outline">
                            </mat-icon>
                        </mat-form-field>
                    </div>


                </div>
                <div class="flex flex-row w-full">
                    <div class="py-2 w-1/2 pl-10 items-center align-middle">
                        <button mat-raised-button style="color: darkgreen" (click)="search()">Apply
                        </button>
                    </div>
                    <div class="py-2 w-1/2 items-center align-middle">
                        <button (click)="resetAdvancedSearch()" mat-raised-button style="color: darkred">Cancel
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</fuse-drawer>
