<!-- Main -->
<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <div
      class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between sm:px-3   bg-card dark:bg-transparent">
        <!-- Title -->

        <div  class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-3 sm:px-10 bg-card dark:bg-transparent">
            <div class="flex-1 min-w-0">
                <!-- Breadcrumbs -->
                <div class="flex flex-wrap items-center font-medium">
                    <div class="flex items-center whitespace-nowrap">
                        
                        <a *ngIf="pageType==='new'" [routerLink]="['../']" style="cursor: pointer;"
                            class="whitespace-nowrap text-primary-500">Customer Types</a>
                        <a *ngIf="pageType==='edit'" [routerLink]="['../../']" style="cursor: pointer;"
                            class="whitespace-nowrap text-primary-500">Customer Types</a>
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                        </mat-icon>
                        <a>{{titleInfo}}</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Actions -->

    </div>

    <ng-container>
        <div class="flex-auto px-6 py-3" fuseScrollbar #scrollContainer id="scrollDiv">

            <mat-tab-group #tabGroup fxLayout="column" fxFlex>
                <mat-tab label="Information">
                    <form [formGroup]="frmCustomerType"
                        class="flex rounded-b-md rounded-tr-md flex-col px-8 py-4 bg-card shadow">
                        <div class="h-2">
                            <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
                        </div>
                        <div class="flex flex-col w-full">
                            
                        
                                <div class="flex flex-col md:flex-row w-full items-center flex-wrap content-center">

                                    <mat-form-field appearance="outline" class="md:w-1/2 w-full px-3">
                                        <mat-label>Code</mat-label>
                                        <input spellcheck="false" required matInput value="" formControlName="code"
                                            maxlength="50">
                                        <mat-icon matSuffix class="secondary-text"
                                            svgIcon="mat_outline:drive_file_rename_outline">
                                        </mat-icon>
                                        <mat-error>Code is required</mat-error>
                                    </mat-form-field>
        
                                    <mat-form-field appearance="outline" class="md:w-1/2 w-full px-3">
                                        <mat-label>Name</mat-label>
                                        <input spellcheck="false" required matInput value="" formControlName="name"
                                            maxlength="50">
                                        <mat-icon matSuffix class="secondary-text"
                                            svgIcon="mat_outline:drive_file_rename_outline">
                                        </mat-icon>
                                        <mat-error>Name is required!</mat-error>
                                    </mat-form-field>
        
                                </div>
                                <div class="flex flex-col md:flex-row w-full items-center flex-wrap content-center">

                                    <mat-form-field appearance="outline" class="md:w-1/2 w-full px-3">
                                        <mat-label>Discount Percent</mat-label>
                                        <input spellcheck="false" required matInput value="" formControlName="discountPrecent"
                                            maxlength="50">
                                        <mat-icon matSuffix class="secondary-text"
                                            svgIcon="mat_outline:drive_file_rename_outline">
                                        </mat-icon>
                                        <mat-error>Discound is required</mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" floatLabel="always" class="md:w-1/2 w-full px-3">
                                        <mat-label>Status</mat-label>
                                        <mat-select placeholder="Status" formControlName="status">
                                            <mat-option  [value]="1">Active</mat-option>
                                            <mat-option  [value]="0">Inactive</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                    
                        </div>

                        <div class="w-full print:hidden" style="display: flex; align-items: center; place-content: center">
                            <button mat-flat-button color="primary"
                                [disabled]="isLoading ||  actionDisable"
                                (click)="save()" matStepperNext>{{pageType ==='new'?'Register' : 'Update'}}</button>
                        </div>
                        <div class="print:hidden flex items-center flex-wrap content-center w-full py-2">
                            <div class="w-auto h-auto min-h-15 m-auto">
                                <fuse-alert *ngIf="_result.message" [appearance]="'soft'" [dismissible]=" true" [dismissed]="true"
                                    [name]="'successMessage'" [type]="'success'">
                                    <b>Result: </b> {{_result.message}}.
                                </fuse-alert>
                                <fuse-alert *ngIf="_result.message" [appearance]="'soft'" [dismissible]="true" [dismissed]="true"
                                    [name]="'errorMessage'" [type]="'error'">
                                    <b>Result: </b> {{_result.message}}.
                                </fuse-alert>
                            </div>
                        </div>                   
                </form>
                </mat-tab>
            </mat-tab-group>
        </div>
    </ng-container>

</div>
