<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <div class="text-4xl font-extrabold tracking-tight">Production Programs</div>
            <div class="cursor-pointer ml-3 mt-2">
                <button mat-icon-button ngxPrint useExistingCss="true" printSectionId="section-to-print">
                    <mat-icon [svgIcon]="'heroicons_outline:printer'"></mat-icon>
                </button>
            </div>
        </div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                <input [autocomplete]="'off'" #filter [formControl]="searchInputControl" matInput [autocomplete]="'off'"
                    [placeholder]="'Search'">
                <mat-icon matPostfix (click)="productionProgramsAdvancedSearch.toggle()" matTooltip="Advanced Search"
                    class="cursor-pointer">
                    settings
                </mat-icon>
            </mat-form-field>

            <!-- Add product button -->
            <button [matMenuTriggerFor]="downloadMenu" class="ml-4" mat-flat-button [color]="'primary'">
                <mat-icon svgIcon="heroicons_outline:menu"></mat-icon>
            </button>
        </div>
    </div>

    <div class="flex flex-auto overflow-hidden">

        <!-- Products list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">

            <ng-container *ngIf="productionPrograms$  | async as productionPrograms">
                <ng-container *ngIf="productionPrograms.length > 0; else noProductionPrograms">
                    <div class="grid" id="section-to-print">
                        <!-- Header -->
                        <div class="productionPrograms-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort matSortDisableClear>
                            <div class=" lg:block print:block cursor-pointer">
                                <mat-checkbox (change)="$event ? toggleAllSelectedItem(): null"
                                    [checked]="selectAllIsChecked()" [indeterminate]="selectAllIsIndeterminate()"
                                    [disabled]="isLoading" [aria-label]="'Select All'">
                                </mat-checkbox>
                            </div>
                            <div [mat-sort-header]="'requestCode'">
                                Request Code
                            </div>
                            <div class="hidden lg:block" [mat-sort-header]="'fullName'">
                                Product
                            </div>
                            <div class="hidden lg:block" [mat-sort-header]="'serial'">
                                Serial
                            </div>

                            <div class="hidden lg:block" [mat-sort-header]="'deliveryDate'">
                                Delivery Date
                            </div>

                            <div class="hidden lg:block" [mat-sort-header]="'productionDateTime'">
                                Production Date
                            </div>

                            <div class="hidden lg:block print:block" [mat-sort-header]="'status'">
                                Status
                            </div>

                            <div class="print:hidden">More</div>
                        </div>
                        <!-- Rows -->
                        <ng-container *ngIf="productionPrograms$ | async as productionPrograms">
                            <ng-container *ngFor="let item of productionPrograms; trackBy: trackByFn">
                                <div class="productionPrograms-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">


                                    <!-- SKU -->
                                    <div class=" lg:block print:block cursor-pointer">
                                        <mat-checkbox (change)="$event ? toggleSelectedItem(item) : null"
                                            [checked]="checkSelectedItem(item)"
                                            [disabled]="isLoading || isSelectLoading" [aria-label]="'Select All'">
                                        </mat-checkbox>
                                    </div>
                                    <div class=" truncate">
                                        {{item.requestCode}}
                                        <div>
                                            <div style="background-color: rgb(245 245 245)!important;"
                                                class="bg-neutral-400 text-xs rounded-sm py-0.5 px-2 inline-block"
                                                matTooltip="Customer Name">
                                                <div class="rounded-3xl w-2 h-2 mr-2 inline-block bg-yellow-600"></div>
                                                <div class="inline-block">{{item.customerFullName}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="truncate hidden lg:block">
                                        {{item.fullName}}
                                        <div>
                                            <div style="background-color: rgb(245 245 245)!important;"
                                                class="bg-neutral-400 text-xs rounded-sm py-0.5 px-2 inline-block"
                                                matTooltip="Brand Name">
                                                <div class="rounded-3xl w-2 h-2 mr-2 inline-block bg-purple-600"></div>
                                                <div class="inline-block">{{item.brandName}}</div>
                                            </div>
                                            <div style="background-color: rgb(245 245 245)!important;"
                                                class="ml-0.5 bg-neutral-400 text-xs rounded-sm py-0.5 px-2 inline-block"
                                                matTooltip="Frame Cover Name">
                                                <div class="rounded-3xl w-2 h-2 mr-2 inline-block bg-blue-600"></div>
                                                <div class="inline-block">{{item.frameCoverName}}</div>
                                            </div>
                                            <div style="background-color: rgb(245 245 245)!important;"
                                                class="ml-0.5 bg-neutral-400 text-xs rounded-sm py-0.5 px-2 inline-block"
                                                matTooltip="Panel Cover Name">
                                                <div class="rounded-3xl w-2 h-2 mr-2 inline-block bg-green-600"></div>
                                                <div class="inline-block">{{item.panelCoverName}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="truncate hidden lg:block">
                                        {{item.serial}}
                                        <div>
                                            <div style="background-color: rgb(245 245 245)!important;"
                                                class="bg-neutral-400 text-xs rounded-sm py-0.5 px-2 inline-block">
                                                <div class="rounded-3xl w-2 h-2 mr-2 inline-block bg-red-600"></div>
                                                <div class="inline-block">{{item.requestTypeName}}</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="truncate hidden lg:block">
                                        {{item.deliveryDate}}
                                    </div>
                                    <div class="truncate hidden lg:block">
                                        {{item.productionDateTime}}
                                    </div>
                                    <!-- class="p-1 rounded block truncate text-white" -->
                                    <div class="truncate hidden lg:block">
                                        <p style="width: fit-content;" class="p-1 rounded block truncate"
                                            [ngClass]="item.statusColor">{{item.statusDescription}}</p>
                                    </div>

                                    <div class="print:hidden">
                                        <div class="flex items-center">
                                            <ng-container>
                                                <button style="width: 25px;" mat-icon-button class="info"
                                                    [color]="'primary'"
                                                    (click)="$event.stopPropagation(); selectedInfoDetailRow = item"
                                                    [matMenuTriggerFor]="infoMenu">
                                                    <mat-icon class="icon-size-5">info</mat-icon>
                                                </button>
                                            </ng-container>
                                            <ng-container fxLayout="row">
                                                <button style="width: 25px;" mat-icon-button
                                                    (click)="$event.stopPropagation(); selectedInfoDetailRow = item"
                                                    [matMenuTriggerFor]="contextMenu">
                                                    <mat-icon color="accent">more_vert</mat-icon>
                                                </button>
                                            </ng-container>

                                        </div>
                                    </div>


                                </div>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
                            <mat-row *matRowDef="let item; columns: displayedColumns;"
                                class="production-programs-list"></mat-row>
                        </ng-container>

                    </div>

                    <mat-paginator
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}" [length]="pagination.length"
                        [pageIndex]="pagination.pageIndex" (page)="handlePageEvent($event)"
                        [pageSize]="pagination.pageSize" [pageSizeOptions]="[50, 100,200,300,400]"
                        [showFirstLastButtons]="true">
                    </mat-paginator>

                </ng-container>
            </ng-container>
        </div>
    </div>
    <ng-template #noProductionPrograms>
        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no
            ProductionPrograms!
        </div>
    </ng-template>
</div>
<mat-menu #infoMenu="matMenu" xPosition="before">
    <div class="p-2">
        <h4 class="mb-1 text-gray-900 font-bold text-xl	">{{selectedInfoDetailRow.productName}}</h4>
        <div class="flex flex-col mb-1">
            <span class="text-gray-400 text-sm">Creator User Name</span>
            <p>{{selectedInfoDetailRow.registerUserName}}
            </p>
        </div>
        <div class="flex flex-col mb-1">
            <span class="text-gray-400 text-sm">Creator IP</span>
            <p class="text-gray-900">
                {{selectedInfoDetailRow.clientIP}}
            </p>
        </div>
        <div class="flex flex-col mb-1">
            <span class="text-gray-400 text-sm">Update Date & time</span>
            <p class="text-gray-900">
                {{selectedInfoDetailRow.localChangeDate + ' ' +
                selectedInfoDetailRow.localChangeTime }}
            </p>
        </div>
    </div>

</mat-menu>

<mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent>
        <button mat-menu-item (click)="showSerialDialog()" [disabled]="selectedInfoDetailRow.serial === null">
            <mat-icon style="margin:0px;font-size: 21px;">print
            </mat-icon>
            Print Serial
        </button>
        <button mat-menu-item (click)="preparingRequest()">
            <mat-icon style="margin:0px;font-size: 21px;cursor: pointer;">done_all
            </mat-icon>
            Preparing
        </button>
        <button mat-menu-item (click)="endOfPreparationRequest()">
            <mat-icon style="margin:0px;font-size: 21px;cursor: pointer;">done_all
            </mat-icon>
            Done
        </button>
    </ng-template>
</mat-menu>
<mat-menu #downloadMenu="matMenu">
    <ng-template matMenuContent>
        <button mat-menu-item (click)="download()">
            <mat-icon svgIcon="mat_outline:file_download"></mat-icon>
            PDF
        </button>
        <button mat-menu-item (click)="exportTable()">
            <mat-icon svgIcon="mat_outline:file_download"></mat-icon>
            EXCEL
        </button>
    </ng-template>
</mat-menu>

<fuse-drawer class="w-screen min-w-screen sm:w-80 sm:min-w-80" fixed transparentOverlay [mode]="'over'"
    [name]="'productionProgramsAdvancedSearch'" [position]="'left'" #productionProgramsAdvancedSearch>
    <div class="flex flex-col w-full" fuseScrollbar>
        <div class="bg-gray-900 relative h-14 max-h-14 z-10 w-full">
            <div class="inset-y-0 left-0 flex w-1/2">
                <mat-icon class="mt-4 ml-1 text-white flex-auto" matPrefix [svgIcon]="'heroicons_outline:search'">
                </mat-icon>

                <h3 class="ml-2 mt-4 text-white flex-auto "><span>Advanced
                        Search</span></h3>
            </div>
            <div class="inline-block">
                <mat-icon class="mt-3 mr-2 absolute inset-y-0 right-0 cursor-pointer text-white"
                    (click)="productionProgramsAdvancedSearch.toggle()">close
                </mat-icon>
            </div>
        </div>
        <form [formGroup]="frmAdvancedSearch">
            <div class="pt-8 px-4 pb-4">
                <div
                    class="border border-solid border-gray-200 rounded-sm flex flex-initial flex-col relative mb-10 pt-4 px-4 pb-3">
                    <h2 class="absolute -top-2.5 left-1.5 m-0 px-2 bg-white">Search Fields</h2>
                    <div>
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Status</mat-label>
                            <mat-select [(value)]="productionProgramInfo.statusIdList" placeholder="Status"
                                formControlName="status" multiple>
                                <mat-option (onSelectionChange)="setStatusValue($event)" *ngFor="let status of statuses"
                                    [value]="status.statusId" [checked]="status.isDefault===1">
                                    {{status.statusDescription}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Product Code(%)</mat-label>
                            <input [autocomplete]="'off'" matInput value="" formControlName="productCode"
                                maxlength="50">
                            <mat-icon matSuffix class="secondary-text" svgIcon="mat_outline:dialpad">
                            </mat-icon>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Product Name(%)</mat-label>
                            <input [autocomplete]="'off'" matInput value="" formControlName="productName"
                                maxlength="50">
                            <mat-icon matSuffix class="secondary-text" svgIcon="mat_outline:dialpad">
                            </mat-icon>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Serial Number(%)</mat-label>
                            <input [autocomplete]="'off'" matInput value="" formControlName="serial" maxlength="50">
                            <mat-icon matSuffix class="secondary-text" svgIcon="mat_outline:dialpad">
                            </mat-icon>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Request Code(%)</mat-label>
                            <input [autocomplete]="'off'" matInput value="" formControlName="requestCode"
                                maxlength="50">
                            <mat-icon matSuffix class="secondary-text" svgIcon="mat_outline:dialpad">
                            </mat-icon>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Customer(%)</mat-label>
                            <input [autocomplete]="'off'" matInput value="" formControlName="customer" maxlength="50">
                            <mat-icon matSuffix class="secondary-text" svgIcon="mat_outline:dialpad">
                            </mat-icon>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>Production From Date</mat-label>
                            <input matInput formControlName="productionFromDate" [matDatepicker]="frompicker">
                            <mat-datepicker-toggle matIconSuffix [for]="frompicker"></mat-datepicker-toggle>
                            <mat-datepicker #frompicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>Production To Date</mat-label>
                            <input matInput formControlName="productionToDate" [matDatepicker]="topicker">
                            <mat-datepicker-toggle matIconSuffix [for]="topicker"></mat-datepicker-toggle>
                            <mat-datepicker #topicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-row w-full">
                    <div class="py-2 w-1/2 pl-10 items-center align-middle">
                        <button mat-raised-button style="color: darkgreen" (click)="productionProgramsSearch()">Apply
                        </button>
                    </div>
                    <div class="py-2 w-1/2 items-center align-middle">
                        <button (click)="resetAdvancedSearch()" mat-raised-button style="color: darkred">Cancel
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</fuse-drawer>
